<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{css_path}}" />
    <title>project1</title>
  </head>
  <body>
    <div class="infoSubmit">
      <form>
        <label for="Name">Enter yo name</label><br />
        <input type="text" id="Name" name="Name" /><br />
        <label for="Number">Enter yo number</label><br />
        <input type="number" id="Number" name="Number" /><br />
        <input type="submit" value="submit" />
      </form>
    </div>
  </body>
</html>
